<p id="count-label">Items remaining: {{itemsRemaining()}}</p>
<li id="todo-list" *ngFor="let todo of getTodoList()" [ngClass]="{complete: todo.isComplete, incomplete: !todo.isComplete}">
    {{todo.title}}
    <button class="button" (click)="completeTodo(todo.id)">
        Complete
    </button>
    <button class="button" (click)="deleteTodo(todo.id)">
        Delete
    </button>
</li>
<div *ngIf="existsCompleteItem() && (filterStatus!=='Incomplete')">
    <button class="button" (click)="deleteComplete()">
        Delete Complete
    </button>
</div>
<form>
    <input #box id="new-todo" placeholder="What needs to be done?">
    <input #submit id="submit-todo" (click)='createTodo(box.value);box.value=""' type="submit" value="Create" class="button">
</form>
<section id="filter-label" *ngIf="todos.length > 0">
    <h2 id="filter-text">Filter by: {{filterStatus}}</h2>
    <button class="button" (click)="all()">
        All
    </button>
    <button class="button" (click)="complete()">
        Complete
    </button>
    <button class="button" (click)="incomplete()">
        Incomplete
    </button>
</section>
