<p>Items remaining: {{itemsRemaining()}}</p>
<li *ngFor="let todo of todos" [ngClass]="{complete: todo.isComplete, incomplete: !todo.isComplete}">
    {{todo.title}}
    <button class="button" (click)="completeTodo(todo.id)">
        Complete
    </button>
    <button class="button" (click)="deleteTodo(todo.id)">
        Delete
    </button>
</li>
<div *ngIf="existsCompleteItem()">
    <button class="button" (click)="deleteComplete()">
        Delete Complete
    </button>
</div>
<form>
    <input #box placeholder="What needs to be done?">
    <input #submit (click)='createTodo(box.value);box.value=""' type="submit" value="Create" class="button">
</form>
